@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 75% 13%;
    --foreground: 0 0% 98%;
    --card: 210, 58.33%, 18.82%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 97% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350.17 61.05% 37.25%;
    --destructive-foreground: 0 0% 98%;
    --border: 215, 100%, 76%, 0.05;
    --input: 215, 100%, 81%, 0.4;
    --ring: 240 4.9% 83.9%;
  }

  .dark:root {
    --background: 209 75% 13%;
    --foreground: 0 0% 98%;
    --card: 210, 58.33%, 18.82%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 97% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350.17 61.05% 37.25%;
    --destructive-foreground: 0 0% 98%;
    --border: 215, 100%, 76%, 0.05;
    --input: 215, 100%, 81%, 0.4;
    --ring: 240 4.9% 83.9%;
  }
}

.create-goal-form {
  height: calc(100% - 5%);
}

.goals-container {
  height: calc(100% - 7%);
}
